.about{
    text-align: center;
    background-color: #333;
    height: 80vh;
}
.about h1{
    
    font-size: 2em;
  margin-bottom: .7em;
   color: #00a800;
}

.about p{
    max-width: 600px;
    margin: 0 auto 1em;
    line-height: 1.4em;
    color: lightgray;
}


.us{
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0.2em 0.2em;

    margin: 0 1em;
    width: 150px;
    border-radius: 1em;
    border: 2px solid rgb(0, 168, 0);
    box-shadow: 5px 5px 12px rgba(0, 0, 0, 0.5);
   
    
}