.footer{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #222222;
    height: 150px;
   
    border-top: 3px solid #111;
    color: lightgray;
}

.footer span{
    font-weight: bold;
    color: #00a800;
    
}
.footer p{
    margin-right: .5em;
    font-weight: bold;
}

.img{
    border-radius: 5px;
}