.card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2em 1em;
    margin-bottom: 2em;
    width: 24%;
    border-radius: 1em;
    border: 2px solid #00a800;;
    box-shadow: 5px 5px 12px rgba(0, 0, 0, 0.5);
    background-color: #333;
    color: #fff
}

.card .id {
    margin: 1em 0;
    background-color: #00a800;
    border-radius: 5px;
    color: #fff;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.card .title {
    text-transform: capitalize;
    margin-bottom: 1em;
    font-size: 1.4em;
    color: lightgray;
}

.card .btn {
    text-decoration: none;
    background-color: lightgray;
    color: black;
    padding: .7em 1.2em;
    border-radius: 3px;
    font-weight: bold;
    transition: 0.5s;
}

.btn:hover {
    background-color: #00a800;;
    color: #fff;
}